{% extends 'base.html' %}
{% load static %}

{% block title %}Galería - Aetherwood{% endblock %}

{% block content %}
<div class="container py-4">
    <!-- Título de la sección -->
    <div class="text-center mb-5">
        <h2 class="display-4 fw-bold text-white" style="font-family: 'Cormorant Garamond', serif;">Arte</h2>
        <p class="text-secondary fs-5">Una muestra de los grabados en la piel de nuestros clientes.</p>
    </div>

    <!-- Cuadrícula de Imágenes (Multimedia) -->
    <div class="row g-4">
        <!-- Imagen 1 (.jpg) -->
        <div class="col-md-4">
            <div class="card bg-dark border-secondary border-opacity-25 shadow-lg h-100">
                <img src="{% static 'img/tatuaje1.jpg' %}" class="card-img-top" alt="Tatuaje 1" style="height: 280px; object-fit: cover; filter: grayscale(80%) contrast(120%);">
                <div class="card-body">
                    <h5 class="text-white" style="font-family: 'Cormorant Garamond';">Angel</h5>
                    <p class="text-secondary small">Estilo: Fine Line </p>
                </div>
            </div>
        </div>

        <!-- Imagen 2 (.jpeg) -->
        <div class="col-md-4">
            <div class="card bg-dark border-secondary border-opacity-25 shadow-lg h-100">
                <img src="{% static 'img/tatuaje2.jpeg' %}" class="card-img-top" alt="Tatuaje 2" style="height: 280px; object-fit: cover; filter: grayscale(80%) contrast(120%);">
                <div class="card-body">
                    <h5 class="text-white" style="font-family: 'Cormorant Garamond';">Smoke Frog</h5>
                    <p class="text-secondary small">Estilo: Realistic </p>
                </div>
            </div>
        </div>

        <!-- Imagen 3 (.jpeg) -->
        <div class="col-md-4">
            <div class="card bg-dark border-secondary border-opacity-25 shadow-lg h-100">
                <img src="{% static 'img/tatuaje3.jpeg' %}" class="card-img-top" alt="Tatuaje 3" style="height: 280px; object-fit: cover; filter: grayscale(80%) contrast(120%);">
                <div class="card-body">
                    <h5 class="text-white" style="font-family: 'Cormorant Garamond';">Dibujos animados</h5>
                    <p class="text-secondary small">Estilo: Caricatura</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}